workflows/OpenAI-powered tweet generator.json
{
  "active": false,
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "FunctionItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-12-08T22:40:34.397Z",
  "dataLoaded": true,
  "id": 1,
  "name": "OpenAI-powered tweet generator",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "position": [
        460,
        460
      ],
      "typeVersion": 1,
      "id": "b4eab762-96d6-4a97-9440-4879b0f712bf"
    },
    {
      "parameters": {
        "functionCode": "// hashtag list\nconst Hashtags = [\n  \"#techtwitter\",\n  \"#n8n\",\n  \"#appmaker\",\n  \"#appbuilders\"\n];\n\n// random output function\nconst randomHashtag = Hashtags[Math.floor(Math.random() * Hashtags.length)];\nitem.hashtag = randomHashtag;\nreturn item;"
      },
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        620,
        600
      ],
      "typeVersion": 1,
      "id": "094d2b0c-e32b-4658-9b2c-dc1bd6ee5828"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.openai.com/v1/engines/text-davinci-001/completions",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"prompt\": \"Generate a tweet, with under 100 characters, about and including the hashtag {{$node[\"FunctionItem\"].json[\"hashtag\"]}}:\",\n  \"temperature\": 0.7,\n  \"max_tokens\": 64,\n  \"top_p\": 1,\n  \"frequency_penalty\": 0,\n  \"presence_penalty\": 0\n}"
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        760,
        460
      ],
      "typeVersion": 1,
      "id": "cc4ec8f9-fff0-4271-9c3c-adf2f5f93b8b",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "application": {
          "__rl": true,
          "value": "appIWzDkMmj0TsXy5",
          "mode": ""
        },
        "table": {
          "__rl": true,
          "value": "table 1",
          "mode": ""
        },
        "options": {}
      },
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1260,
        460
      ],
      "typeVersion": 1,
      "id": "bbac97b2-d71b-474b-ba97-da30fae78d9d",
      "credentials": {
        "airtableApi": {
          "id": "3",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Hashtag",
              "value": "={{$node[\"FunctionItem\"].json[\"hashtag\"]}}"
            },
            {
              "name": "Content",
              "value": "={{ $json[\"text\"] }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        1060,
        460
      ],
      "typeVersion": 1,
      "id": "bb9c85fb-e534-453d-9fd2-0d124b2cae20"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// hashtag list\nconst Hashtags = [\n  \"#techtwitter\",\n  \"#n8n\"\n];\n\n// random output function\nconst randomHashtag = Hashtags[Math.floor(Math.random() * Hashtags.length)];\nitem.hashtag = randomHashtag;\nreturn item;"
      },
      "id": "5a20f166-5517-4515-b439-606d8fb25f15",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        660,
        320
      ]
    },
    {
      "parameters": {
        "prompt": "=Generate a tweet including the hashtag {{ $json[\"hashtag\"] }}",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "f05d864d-2758-4ca9-ba0b-95326b7c7084",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1000,
        640
      ],
      "credentials": {
        "openAiApi": {
          "id": "7",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-12-21T04:53:42.000Z",
  "versionId": "d78cc915-d24b-439b-b4f9-4c9d956c2c47"
}