workflows/programar en twitter.json
{
  "active": false,
  "connections": {
    "Function": {
      "main": [
        [
          {
            "node": "Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-01-09T03:05:10.556Z",
  "dataLoaded": false,
  "id": 9,
  "name": "programar en twitter",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        300,
        480
      ],
      "id": "7c499dc7-eb6d-40c5-9bb5-c0069d55b64c"
    },
    {
      "parameters": {
        "functionCode": "const newItems = [];\n\nrandom_row = items[Math.floor(Math.random() * Math.floor(items.length))];\nnewItems.push(random_row);\n\nreturn newItems;\n"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1070,
        510
      ],
      "id": "ec1f2341-4db7-479b-ba6d-01618f614206"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        720,
        510
      ],
      "id": "1cacedc8-84e0-42cf-a8d6-cafe069ed52d"
    },
    {
      "parameters": {
        "text": "={{$node[\"Function\"].json[\"Title\"]}} {{$node[\"Function\"].json[\"Link\"]}}\n{{$node[\"Function\"].json[\"Hashtag\"]}}",
        "additionalFields": {}
      },
      "name": "Twitter",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 1,
      "position": [
        1270,
        510
      ],
      "id": "99d80ada-4d93-4663-a0a5-4e2d37c38db1",
      "credentials": {
        "twitterOAuth1Api": {
          "id": "8",
          "name": "Twitter OAuth account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "1BxYyTE_zc2mj8o1YiztQbQj1GzN_MYAyj7muGI6IY_M",
        "range": "A:C",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        900,
        510
      ],
      "id": "332482f4-3e03-4839-95e9-858816261263",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": null,
          "name": "blpsheets"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-01-09T03:35:42.000Z",
  "versionId": "1f902f21-82e1-49aa-8a05-be53c27d61a8"
}